<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="C:\Users\USER\Desktop\Code_Xpfile\afriherb\afriherb\afriherb-app\static\styles\home.css">
        <title>afriherb homepage</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a class="active" href="#">afriherb</a>
                </li>
                <li style="float:right">
                    <a href="C:\Users\USER\Desktop\Code_Xpfile\afriherb\afriherb\afriherb-app\templates\login.html">signup</a>
                </li>
                <li style="float:right">
                    <a href="#">newletter</a>
                </li>
            </ul>
        </nav>
        <div class="div">
            <section>
                <h3 class="center">Morigan</h3>
                <p>The Morigan leaf is use for treating ulcer.</p>
            </section>

            <section>
                <h3 class="center">Morigan</h3>
                <p>The Morigan leaf is use for treating ulcer.</p>
            </section>

            <section>
                <h3 class="center">Morigan</h3>
                <p>The Morigan leaf is use for treating ulcer.</p>
            </section>
        </div>
        <div class="footer">
            <footer>contact</footer>
        </div>
    </body>
</html>