<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/news-letter.css">
    <title>Afriherb News-letter</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Afriherb NewsLetter</h1>
        <P>Stay updated with the latest news and updates.</P>
        <img src="../images/herbs.jpg" alt="NewsLetter Image">
        <p>Subscribe now to receive our weekly newsletter.</p>

        <h1>Welcome to Our Newsletter</h1>
        <p>Stay updated with the latest news and updates.</p>
        <div class="news">
            <h2>Latest News</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit velit at felis consequat, nec congue leo fermentum.</p>
            <p>Updated: March 15, 2024, 10:00 AM</p>
        <a href="#" class="btn">Subscribe</a>
        <!-- //<a href="#" class="btn">Read More</a> -->

    </div>
</body>
</html>