<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/sign-in.css">
    <title>Afriherb</title>
</head>
<!--- FORM-PAGE --->
<body>
    <form action="">
    
        <div class="container">
            <h2>Welcome To Afriherb World</h2>
            <h1>Sign In</h1>
            
            <hr>

            <label for="email"><b>Email: </b>
            <input type="email" placeholder="Enter-email" name="email" required>
        </label>


            <label for="psw"><b>Password</b>
            <input type="password" placeholder="Enter-Password" name="email" required>
        </label>


            <label>
               <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <p>By creating an account you agree to our <href="#" style="color:dodgerblue">Terms & Privacy</a> </p>

            <div class="clearfix">
                <!-- <button type="button" class="cancelbtn">Cancel</button> -->
                <button type="submit" class="signin-btn">Sign In</button>
                <!--form-end-->
            </div>
        </div>
    </form>
</body>
</html>