*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

form {
    border: 1px solid green;
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 300px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.account-info label {
    color: #395870;
    display: block;
    font-weight: bold;
    margin: 0 10px 20px 10px;
}

.account-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1);
    color: #636466;
    padding: 6px;
    margin-top: top;
    width: 100%;
}

.account-action {
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
}

.account-action .btn {
    background: -webkit-linear-gradient(#49708f, #293f50);
    background: -moz-linear-gradient(#49708f, #293f50);
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    width: 100%;
}

.account-action label {
    color: #7c7c80;
    font-size: 12px;
    float: left;
    margin: 10px 0 0 20px;
}

.center {
    text-align: center;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.avatar {
    width: 40%;
    border-radius: 50%;
}